.about {

  .about-amber {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    font-size: 1.5em;
    text-align: center;
  }

  .built-with {
    font-size: 0.9em;
    margin-top: 10%;
  }

  .contact {
    font-size: 0.7em;
  }

  .credits {
    font-size: 0.7em;
  }

  .devs {
    font-weight: bold;
  }

  img {
    width: 30%;
    height: auto;

  }

}
