.sidemenu {
  .sidemenu-top {
    position: relative;
    text-align: left;
    height: 25%;
    background-image: url(../../images/Windmill_3_hires.jpg);
    background-size: cover;

  }

  .user {
    position: relative;
    top: 65%;
    left: 5%;
    font-size: 2em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }

  .subtitle {
    font-size: 1.0em;
    position: absolute;
    top: 83%;
    left: 5%;
    width: 100%;
    color: #fff;
  }


}
