<!--
  Generated template for the DaysLogsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-navbar *navbar primary>
  <ion-title>Energy Logs</ion-title>
</ion-navbar>

<ion-toolbar>
  <div class="segments-bar">
    <ion-segment [(ngModel)]="segments">
      <ion-segment-button value="list">
        Past Days
      </ion-segment-button>
      <ion-segment-button value="graphs">
        Graphs
      </ion-segment-button>
    </ion-segment>
  </div>
</ion-toolbar>

<ion-content padding class="days-logs">



  <div [ngSwitch] = "segments">

    <div *ngSwitchWhen = "'list'">
      <h1 class='average-consumption'>Your average consumption over {{days.length}} days is: <span class='average-number'>{{averageOverall}}</span></h1>
      <ion-list>
        <ion-item *ngFor="let day of days">
          <span class="day-date">{{ day.date }}:</span>
          <span class="day-value">{{ day.totalConsumedThisDay }}kWh</span>
        </ion-item>
      </ion-list>
      <button round block (click)="uploadDaysLog()"><ion-icon name="cloud-upload"></ion-icon>Send logs to server</button>
      <p *ngIf="submittedLogs" style="color: green; text-align: center;">You last uploaded the logs on: {{ submittedLogsOn }}</p>

    </div>

    <div *ngSwitchWhen = "'graphs'">
      <h1>Daily consumption</h1>
      <base-chart class="chart"
                [datasets]="lineChartData"
                [labels]="lineChartLabels"
                [options]="lineChartOptions"
                [colors]="lineChartColours"
                [legend]="lineChartLegend"
                [chartType]="lineChartType">
      </base-chart>

      <h1>Appliances consumption</h1>
      <base-chart class="chart"
                [datasets]="barChartData"
                [labels]="barChartLabels"
                [options]="barChartOptions"
                [colors]="barChartColours"
                [legend]="barChartLegend"
                [chartType]="barChartType">
      </base-chart>
    </div>

  </div>







</ion-content>
