h4 {
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
}

// .ng-valid[required] {
//   border-left: 5px solid #42A948; /* green */
// }
//
// .ng-invalid {
//   border-left: 5px solid #a94442; /* red */
// }
