<ion-navbar *navbar primary>
  <button menuToggle>
    <ion-icon name="menu"></ion-icon>
  </button>
  <ion-title>Appliances</ion-title>
</ion-navbar>

<ion-toolbar primary>
  <ion-searchbar [(ngModel)]="searchQuery" (input)="getItems($event)" [hideCancelButton]="shouldNotHideCancel"></ion-searchbar>
</ion-toolbar>

<ion-content  class="page3">
  <!-- <h1>Consume Energy</h1>
  <p>
    The current date is: <b>{{date}}</b>
  </p>

  <ion-item>
    <ion-label floating>How much energy will you consume today?</ion-label>
    <ion-input type="text"></ion-input>
  </ion-item>

  <ion-row>
    <ion-col>
      <button energy-purple>Save</button>
    </ion-col>
  </ion-row>

  <button fab fab-bottom fab-right energy-purple [navPush]="energyItemsPage">
    <ion-icon name="flash"></ion-icon>
  </button> -->

  <!-- <h1> Total W today: {{ totalConsumedToday }}</h1>
  <ion-list>
    <button ion-item *ngFor="let appliance of appliances" (click)="applianceTapped($event, appliance)">
      {{ appliance.title }}
    </button>
  </ion-list>
  {{date}}
  <button full (click)="clearConsumption()">Clear All</button> -->
  <h1> Total W today: {{ myDay.totalConsumedThisDay }}</h1>
  <ion-list class="appliances-list">
      <ion-item *ngFor="let appliance of appliancesToShow">
        <ion-row>
          <ion-col width-33>
            <ion-row>
              <h2>{{ appliance.title }}</h2>
            </ion-row>
            <ion-row>
              <img class="appliances" src="{{ appliance.image }}" />
            </ion-row>
            <ion-row>
              <p>
                {{appliance.wattsPerHour}} W/hr
              </p>
            </ion-row>
          </ion-col>
          <ion-col width-33>
            <ion-row>
              <h3>USAGE TIME: {{ myDay.appliancesConsumption[appliance.id][1] }}</h3>
            </ion-row>
            <ion-row>
              <h3>USAGE WATTS: {{ myDay.appliancesConsumption[appliance.id][2] }}</h3>
            </ion-row>
          </ion-col>
          <ion-col width-33>
            <ion-row>
              <button round large danger (click)="increaseAppliance($event, appliance)"><ion-icon name="add"></ion-icon></button>
            </ion-row>
            <ion-row>
              <button round large (click)="decreaseAppliance($event, appliance)"><ion-icon name="remove"></ion-icon></button>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-item>
  </ion-list>
</ion-content>
